body{
    background-color: hsl(203, 4%, 65%) ;
}
.hover {
    display: block;
    cursor: pointer;
    background-color: hsl(0, 0%, 20%); 
    color: white;
    padding: 10px ; 
    border-radius:5px;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;

  } 
  
  .hover a{
    color: white;
  }

  .hover a:hover{
    color: black;
  }
  .hover:hover {
    background-color: yellow;
    color: black;
	border: 2px solid green;
	box-shadow: 3px 6px white;
	border-top-color: white;
  }
  